.gif__bar--preview {
    top: 0;
    bottom: auto;
    transform: translate(0);
    box-shadow: none;
}
.preview__header:after {
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 1px 2px -1px #000;
}
.preview__header {
    height: 48px;
    padding: 0;
    z-index: 5;
}
.gif__preview img {
    margin-bottom: -4px;
    width: 100%;
    min-width: 300px;
}
