body {
    padding: 0;
    margin: 0;
}
span {
    color: #fff;
}
::-webkit-scrollbar {
    display: none;
}
.header__appbar {
    background: #03A9F4;
    display: flex;
    align-content: center;
    align-items: center;
}
.header {
    position: relative;
}
.authorization-buttons span{
    margin: 0 10px;
}
.logo {
    position: absolute;
    top: 22px;
    left: 71px;
    z-index: 1110;
    width: 140px;
}